<!-- edit.html -->
{% extends 'base.html' %}
{% block content %}
<h2>Edit post</h2>
<form action="{{ url_for('edit', id=post['id']) }}" method="post">
    <p>Title:</p>
    <p><input type="text" name="title" value="{{ post['title'] }}" class="form-control" /></p>
    <p>Content:</p>
    <div class="textarea-wrapper">
        <textarea name="content" id="contentEdit" class="form-control">{{ post['content'] }}</textarea>
    </div>
    <p><input type="submit" value="Update" class="btn btn-primary mt-3" /></p>
</form>
{% endblock %}